@using Mvc.Mailer
<div>
    Chào @ViewBag.CustomerName,<br /><br />
    Bạn đã yêu lập lại mật khẩu mới.<br /><br />
    Đây là mật khẩu mới của bạn: @ViewBag.NewPass<br /><br />
    Nếu quý khách có bất kỳ thắc mắc nào, vui lòng liên hệ Phòng Thông Tin Khách Hàng, Hotline 1800 588 885 (miễn phí) hoặc 1900 561 561.<br /><br />
    Trân trọng,<br />
    Sony Electronics Việt Nam
</div>