@{
    ViewBag.Title = "Thông tin menu";
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        @Html.AntiForgeryToken()
        @(Html.Kendo().Grid<MyProject.Models.AMenu>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.MaMenu).Title("Mã menu"); 
            columns.Bound(p => p.TenMenu).Title("Tên menu"); 
            columns.Bound(p => p.ChucNang).Title("Chức năng");  
            columns.Bound(p => p.TrangThai).Title("Trạng thái").ClientTemplate("<span class='fa fa-2x #=TrangThai == 1 ? 'fa-check text-success' : 'fa-remove text-danger' #'></span>").Filterable(false).Width(80);
            columns.Bound(p => p.MenuID).ClientTemplate("<a href='/HeThong/AMenuEditor?ID=" + "#=MenuID#'>Chi tiết</a>").Filterable(false).Title("Cập nhật").Filterable(false).Width(60);
        })
        .ToolBar(toolbar => toolbar.Custom().Action("AMenuEditor", "HeThong").Text("Thêm mới"))
                //.Editable(editable => editable.Mode(GridEditMode.InLine))
        .Sortable()
        .Resizable(resize => resize.Columns(true))
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .Filterable(filterable => filterable
            .Extra(false)
            .Operators(operators => operators
                .ForString(str => str.Clear().Contains("Contains"))
            )
        )
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .ServerOperation(false)
            .Sort(sort => sort.Add("MenuID").Descending())
            .Events(events => { events.Error("error_handler"); events.RequestEnd("onRequestEnd"); })
            .Model(model =>
            {
                model.Id(p => p.MenuID);
                model.Field(p => p.MenuID).Editable(false);
            })
            .Read(read => read.Action("AMenu_Read", "HeThong"))
                //.Create(update => update.Action("Admin_Create", "HeThong"))
                //.Update(update => update.Action("Admin_Update", "HeThong"))
                //.Destroy(update => update.Action("Admin_Destroy", "HeThong"))
            )
        )
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                var grid = $('#grid').data('kendoGrid');
                var gridElement = grid.editable.element;

                var validationMessageTemplate = kendo.template(
                    "<div id='#=field#_validationMessage' " +
                        "class='k-widget k-tooltip k-tooltip-validation " +
                            "k-invalid-msg field-validation-error' " +
                        "style='margin: 0.5em;' data-for='#=field#' " +
                        "data-val-msg-for='#=field#' role='alert'>" +
                        "<span class='k-icon k-warning'></span>" +
                        "#=message#" +
                        "<div class='k-callout k-callout-n'></div>" +
                    "</div>");
                $.each(e.errors, function (key, value) {
                    if (value.errors) {
                        gridElement.find("[data-valmsg-for=" + key + "],[data-val-msg-for=" + key + "]")
                            .replaceWith(validationMessageTemplate({ field: key, message: value.errors[0] }));
                        gridElement.find("input[name=" + key + "]").focus();
                    }
                });
                grid.one("dataBinding", function (e) {
                    e.preventDefault();
                });
            }
        }
        function onRequestEnd(e) {
            if (e.type == "create" && !e.response.Errors) alert("Đã thêm mới thành công");
            else if (e.type == "update" && !e.response.Errors) alert("Cập nhật thông tin thành công");
            else if (e.type == "destroy" && !e.response.Errors) alert("Xóa thông tin thành công");
        }
    </script>
}