@{
    ViewBag.Title = "Danh sách nhân viên";
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        @Html.AntiForgeryToken()
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-1">Tìm kiếm:</div>
                 
                <div class="col-md-2">
                    <input type="text" id="txtNhanVien" class="form-control col-md-5" placeholder="Nhập tìm kiếm" />
                </div>
                <div class="col-md-3">
                    <button type="button" id="btnSearch" class="btn btn-primary">Tìm</button>
                </div>
            </div>
            <div class="row"> 
                <div class="col-md-4 btn-addcustomer"><a href="/Hethong/DMNhanVienEditor" class="btn btn-default pull-right">Thêm mới</a></div>
            </div>
        </div>
        @(Html.Kendo().Grid<MyProject.Models.DMNhanVien>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.NhanVienID).Title("ID");
            columns.Bound(p => p.MaNhanVien).Title("Mã NV");
            columns.Bound(p => p.LoaiNhanVienID).Title("Loại Nhân Viên"); 
            columns.Bound(p => p.TenNhanVien).Title("Tên");
            columns.Bound(p => p.NgaySinh).Format("{0:dd/MM/yyyy}").Width(100).Title("Ngày sinh");
            columns.Bound(p => p.QueQuan).Title("Quê quán"); 
            columns.Bound(p => p.Email).Title("Email");
            columns.Bound(p => p.DienThoai).Title("Điện thoại");
            columns.Bound(p => p.DiaChi).Title("Địa chỉ");
            columns.Bound(p => p.NhanVienID).ClientTemplate("<a href='/HeThong/DMNhanVienEditor?ID=" + "#=NhanVienID#'>Chi tiết</a>").Title("Cập nhật").Width(80).Filterable(false);
            //columns.Command(command => { command.Destroy().Text(" "); }).Width(60).Title("Thao tác");
        })
        .Editable(editable => editable.Mode(GridEditMode.InLine))
                //.AutoBind(false)
        .EnableCustomBinding(true)
        .Sortable()
        .Resizable(resize => resize.Columns(true))
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .Filterable(filterable => filterable
            .Extra(true)
            .Operators(operators => operators
                .ForString(str => str.Clear().Contains("Contains"))
            )
        )
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
                            .Sort(sort => sort.Add("NhanVienID").Descending())
            .ServerOperation(true)
            .Events(events => events.Error("error_handler"))
            .Model(model =>
            {
                model.Id(p => p.NhanVienID);
                model.Field(p => p.MaNhanVien).Editable(false);
                model.Field(p => p.TenNhanVien) ;
            })
                            .Read(read => read.Action("DMNhanVien_Read", "HeThong").Data("sendSearch"))
                //.Destroy(update => update.Action("Profile_Destroy", "HeThong"))
            )
        )
    </div>
</div>
@section scripts{ 
    <script type="text/javascript">
        $('#cboPending').change(function () {
            $("#grid").data("kendoGrid").dataSource.read();
        });
        $('#btnSearch').click(function () {
            $("#grid").data("kendoGrid").dataSource.read();
        });
        function sendSearch() {
            return {
                itemSearch: $('#txtNhanVien').val()
            };
        };
        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });

            }
        }
        $('#btnExport').click(function () {
            var fromDate = $("#fromDate").data("kendoDatePicker");
            var toDate = $("#toDate").data("kendoDatePicker");
            var category = $("#slCategory").val();

            var prorduct = $("#slProduct").val();
            var serial = $("#txtSerial").val();
            if (fromDate._oldText != "" && toDate._oldText != "" && fromDate._oldText > toDate._oldText) {
                alert("From date must less than to date");
                return false;
            }
            document.location = '/HeThong/ExportProfile?fromDate=' + fromDate._oldText + '&toDate=' + toDate._oldText + '&category=' + category + '&modelName=' + prorduct + '&serial=' + serial;
        });
          
        $("#showMenuCMS").css("background-color", "#000055");
          
    </script>
}