@using MySony.Functions
@{
    ViewBag.Title = "Index";
    Layout = null;
    
}

<!DOCTYPE html>
<html lang="en" class=" ">
<head>
    <meta charset="utf-8" />
    <title>Landing page</title>
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/app.v1.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/sony.style.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/screen.css" type="text/css" />
	<link href="/static/css/jquery.fancybox.css" rel="stylesheet" />
    <!--[if lt IE 9]> <script src="/static/js/ie/html5shiv.js"></script> <script
    src="/static/js/ie/respond.min.js"></script> <script
    src="/static/js/ie/excanvas.js"></script> <![endif]-->
</head>
    <body>
        <div id="ajax_loader" style="background-color: rgba(0, 0, 0, 0.5); z-index: 9999; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; display: none;" class="">
            <img src="/static/images/loading.gif" style="position: fixed; left: 50%; top: 50%;" class="">
        </div>
        @if (ViewBag.LandingContent != null)
        {
            @RenderPage("/Views/Landing/landingop1.cshtml")
        }
        else
        {
            @RenderPage("/Views/Landing/landingop2.cshtml")
        }
        @Html.AntiForgeryToken()
        <!-- Bootstrap -->
        <!-- App -->
        <script src="/static/js/vendor/jquery-1.10.2.min.js"></script>
        <script src="/Scripts/bootstrap.min.js"></script>
        <script src="~/static/js/jquery.fancybox.js"></script>
        <script src="/static/js/app.v1.js"></script>
        <script src="/static/js/app.plugin.js"></script>
        <script src="/static/js/application.js"></script>
        <script src="/static/js/common.js"></script>
        <script src='//www.google.com/recaptcha/api.js?hl=vi'></script>
        <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="/Scripts/jquery-ui-1.10.4.min.js"></script>
        <!-- Validator-->
        <script>
            window.ParsleyConfig = {
                errorsWrapper: '<div></div>',
                errorTemplate: '<span style="color:red"></span>'
            };
        </script>
        <script src="/static/js/validator/parsley.vi.js"></script>
        <script src="/static/js/validator/parsley.min.js"></script>
        <script type="text/javascript">
            window.ParsleyValidator.setLocale('vi');
        </script>
        <script>
            function ShowPopup(a, callback) {
                callback = callback || function () { };
                $('.modal').modal('hide');
                $('#myModal').find('#msg').html(a);
                $('#myModal').modal('show');
                $('#myModal').on('hide.bs.modal', function (e) {
                    callback();
                });
            }
        </script>
        <script>
            $('#btnRegister').click(function () {
                location.href = '/Register/';
            });

            $('#frmLogin').parsley().subscribe('parsley:form:validate', function (formInstance) {
                if (formInstance.isValid()) {
                    $.post('/Landing/Login/', { 'email': $('#txtEmail').val(), 'pass': $('#txtPass').val(), recaptcha: $('#g-recaptcha-response').val() }, function (a) {
                        if (a.result == 'ERROR') {
                            ShowPopup(a.msg, function () {
                                location.reload();
                            });
                        }else {
                            location.reload();
                        }

                    });
                }
            });

            $('#benefit').click(function () {
                location.href = '/Benefit/';
            });
            $('#news').click(function () {
                location.href = '/Tintuc/';
            });

            $('#faq').click(function () {
                location.href = '/FAQ/';
            });

            $('#check').click(function(){
                var url = "https://mysony.sony.com.vn/checkwarranty/home/checkwarranty";                
                $.fancybox({ href: url, type: 'iframe', width: "40%", height: "60%", autoSize: false });
            });
        </script>
    </body>
</html>