@{
    ViewBag.Title = "Index";
}

<section class="vbox bg-light">
    <section class="scrollable">
        <div class="page page-main-wrapper page-warrants blue">
            <div class="col-xs-12 col-sm-12 col-md-8 left-col">
                <div class="node-view">
                    <h1 class="page-title">Gói bảo hành mở rộng <i class="i i-info2 hidden-lg-screen"></i></h1>
                    <div class="node-content">
                        <div class="node-description">Sony lần đầu tiên giới thiệu các gói bảo hành dành riêng cho các dòng sản phẩm Bravia và Vaio. Từ ngày 01 tháng 12 năm 2012, khi mua bất kỳ sản phẩm Bravia và Vaio, ngoài thời gian bảo hành chính hãng, bạn còn có thể mua thêm gói gia hạn để sản phẩm Sony yêu thích của bạn được kéo dài thêm bảo hành và trọn vẹn thêm chăm sóc. </div>
                        <div class="warrants-price">
                            <h2>Bảng giá gói bảo hành mở rộng dành cho Bravia</h2>
                            <div class="block block-banner-link hidden-lg-screen">
                                <div class="block-content">
                                    <img src="/static/images/figures/bravia.jpg" alt="scale" />
                                </div>
                            </div>
                            <table class="table table-striped b-light">
                                <thead>
                                    <tr>
                                        <th class="col-xs-6 col-sm-6 col-md-6">Giá <span class="break"></span> sản phẩm</th>
                                        <th class="col-xs-3 col-sm-3 col-md-3">Gói <span class="break"></span> 1 năm</th>
                                        <th class="col-xs-3 col-sm-3 col-md-3">Gói <span class="break"></span> 2 năm</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Dưới 5.000.000</td>
                                        <td>320.000</td>
                                        <td>410.000</td>
                                    </tr>
                                    <tr>
                                        <td>5.000.001 đến 7.000.000</td>
                                        <td>350.000</td>
                                        <td>525.000</td>
                                    </tr>
                                    <tr>
                                        <td>Dưới 5.000.000</td>
                                        <td>320.000</td>
                                        <td>410.000</td>
                                    </tr>
                                    <tr>
                                        <td>5.000.001 đến 7.000.000</td>
                                        <td>350.000</td>
                                        <td>525.000</td>
                                    </tr>
                                    <tr>
                                        <td>Dưới 5.000.000</td>
                                        <td>320.000</td>
                                        <td>410.000</td>
                                    </tr>
                                    <tr>
                                        <td>5.000.001 đến 7.000.000</td>
                                        <td>350.000</td>
                                        <td>525.000</td>
                                    </tr>
                                    <tr>
                                        <td>Dưới 5.000.000</td>
                                        <td>320.000</td>
                                        <td>410.000</td>
                                    </tr>
                                    <tr>
                                        <td>5.000.001 đến 7.000.000</td>
                                        <td>350.000</td>
                                        <td>525.000</td>
                                    </tr>
                                    <tr>
                                        <td>Dưới 5.000.000</td>
                                        <td>320.000</td>
                                        <td>410.000</td>
                                    </tr>
                                    <tr>
                                        <td>5.000.001 đến 7.000.000</td>
                                        <td>350.000</td>
                                        <td>525.000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 right-col hidden-xs">
                <div class="block block-warrant-link">
                    <div class="block-content">
                        <ul>
                            <li>
                                <a href="/static/Files/DieuKhoanSuDung.doc">Điều khoản và điều kiện của <span class="break"></span> chương trình Bảo Hành Mở Rộng</a>
                                <i class="i i-download"></i>
                            </li>
                            <li>
                                <a href="/static/Files/Shop.xlsx">Danh sách các đại lý <span class="break"></span> bán gói Bảo Hành Mở Rộng</a>
                                <i class="fa fa-list"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="block block-banner-link">
                    <div class="block-content">
                        <img src="/static/images/figures/bravia.jpg" alt="scale" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>