
@{
    ViewBag.Title = "Index";
}

 <section class="vbox bg-light lter">
    <section class="scrollable">
        <div class="page page-main-wrapper page-news-details red">
            <div class="col-xs-12 col-sm-12 col-md-12 left-col">
                <div class="node-view">
                    <div class="clearfix page-news-details-tile">
                        <h1 class="page-title">Điều khoản sử dụng</h1>
                    </div>
                    <div class="node-content">
                        <div class="node-description">
                            <p>Đọc kỹ các thời hạn và điều khoản sử dụng (“Các thời hạn và điều khoản”) kỹ trước khi truy cập vào website.Nếu muốn truy cập vào website, bạn phải chấp nhận các thời hạn và điều khoản mà không có sự hạn chế hoặc ngoại lệ nào. Bất kỳ khi nào bạn truy cập vào website, bạn đã coi như chấp nhận các giới hạn và điều khoản. Công ty Sony Việt Nam (“SONY”) là công ty duy nhất và toàn quyền xem xét và có thể báo trước hoặc không báo trước các thay đổi, chỉnh sửa, thêm và xóa bỏ các giới hạn và điều khoản bất kỳ lúc nào bằng cách cập nhật nội dung của trang web này. Do đó, khi truy cập vào trang web này, bạn nên kiểm tra các thời hạn và điều khoản sử dụng một cách định cẩn thận. Website này được liên kết với các trang web khác, các site mà được Sony điều hành hoặc là hội viên (“SONY Site”). Đối với các giới hạn và điều khoản, Khi truy cập vào các trang web của Sony phải tuân theo các giới hạn và điều khoản như đối với trang web của Sony. Trong trường hợp có bất kỳ giới hạn, điều khoản hoặc thông báo nào chứa trong Các giới hạn và điều khoản đã quy định đối lập với các giới hạn và điều khoản của trang web SONY, thì các giới hạn và điều khoản đó sẽ phải tuân theo các giới hạn và điều khoản của trang web Sony ấy.</p>

                            <p><b><u>Giới hạn sử dụng</u></b></p>

                            <p>Tất cả nội dung, tài nguyên trên trang web này được bảo vệ bởi luật bản quyền, và các luật lệ áp dụng với từng quốc gia trên thế giới, và điều khoản hiệp ước. Ngoại trừ mục đích sử dụng cá nhân hoặc sử dụng nội bộ không mang tính thương mại, bạn không được phép sử dụng (tất cả, không hạn chế, sao chép, chỉnh sửa, tái sử dụng toàn bộ các phần, tải dữ liệu, truyền dữ liệu, phân phối, đăng ký, bán, xuất bản ) bất kỳ tài nguyên nào của trang web, mà không được sự đồng ý của Sony. Tất cả các phần mềm sẵn có ở trên website (“Software ”) thuộc bản quyền của người sở hữu phần mềm và được bảo vệ bởi luật bản quyền và các luật lệ áp dụng cho từng quốc gia trên toàn thế giới cũng như các điều khoản hiệp ước liên quan. Việc sử dụng phần mềm này phải tuân theo các giới hạn và điều khoản trong thỏa ước bản quyền người dùng giữa người sở hữu phần mềm và người dùng cuối</p>

                            <p>Thương hiệu&nbsp; “SONY ” và tên các sản phẩm, tên các dịch vụ hoặc logo thương hiệu Sony được sử dụng, trích dẫn và tham chiếu trên website là các tên thương mại hoặc tên thương mại đã được đăng ký của tập đoàn Sony, hoặc bất kỳ các chi nhánh nào khác. Các tên sản phẩm khác hoặc tên các công ty khác sử dụng trong website thuộc sở hữu của các chủ sở hữu tương ứng.</p>

                            <p>Không có tài nguyên nào ở trên trang web “Sony” được hiểu là cho, tặng, công khai, ngăn cấm hay các hành vi khác , bất kỳ việc đăng ký hoặc quyền sử dụng bất kỳ nhãn hiệu thương mại nào trên trang web này phải được sự cho phép của Sony hoặc trong trường hợp có bên sở hữu thứ ba của thương hiệu có liên quan</p>

                            <p><b><u>Các hành vi bị cấm</u></b></p>

                            <ol type="1">
                                <li>Vi phạm quyền pháp lý (Bao gồm quyền sở hữu thông tin cá nhân và thông tin công khai)</li>

                                <li>Gây ra bất kỳ thiệt hại hoặc bất lợi đối với người khác</li>

                                <li>Gây rối loạn trật tự công cộng</li>

                                <li>.Các hành vi tội ác</li>

                                <li>Đăng tải hoặc phát tán bất kỳ thông tin bí mật cá nhân của bên thứ ba mà không được sự đồng ỳ của bên thứ ba đó</li>

                                <li>Sử dụng Trang web này vì mục đích thương mại</li>

                                <li>Nói xấu, hạ nhục, phỉ báng những người khác.</li>

                                <li>Đăng tải các file chứa đựng virut, các file lỗi có thể gây ra hư hại cho hoạt động của máy tính người khác</li>

                                <li>Các hành vi khác vi phạm pháp luật hoặc bị cấm</li>

                                <li>Các hành vi mà Sony và các công ty thành viên thấy là không đúng</li>
                            </ol>

                            <p><b><u>Đề xuất và cung cấp</u></b></p>

                            <p>Sony và các công ty thành viên hoặc đối tác có chính sách không chấp nhận từ bên thứ ba, bất kỳ đề xuất về cung cấp&nbsp; sản phẩm và dịch vụ, không giới hạn, bao gồm tất cả, các ý tưởng cải tiến và chế tạo sản phẩm mới, các công nghệ, các thiết kế, xử lý, phần mềm, khuyến mại, quảng cáo và các kế hoạch maketting để phòng tránh bất kỳ sự nhầm lẫn có thể xảy ra giữa dự kiến và cung cấp thực tế từ bên thứ ba và của Sony. Bạn không nên gửi bất kỳ thông tin nào chứa đựng ý tưởng của bạn, bản vẽ kĩ thuật, phát minh, sáng kiến phát triển, gợi ý hoặc các công việc khác liên quan đến&nbsp; (“ý tưởng”)</p>

                            <p>Trừ những yêu cầu đã đề cập trước, nếu bạn gửi ý tưởng đến chúng tôi, và những ý tưởng đấy được vận dụng nếu bạn đồng ý với những điều khoản sau đây</p>

                            <ol type="1">
                                <li>Sony không có nghĩa vụ phải xử lý ý tưởng như là môt thông tin bí mật</li>

                                <li>Sony không có quyền nghiên cứu, đánh giá hoặc áp dụng ý tưởng</li>

                                <li>Nếu Sony thông qua và áp dụng ý tưởng giống hoặc tương tự một phần hoặc toàn bộ ý tưởng đấy, Sony sẽ có quyền duy nhất đối với bất kỳ quyến sở hữu trí tuệ nào liên quan đến&nbsp; ý tưởng đấy, và bạn phải chấp nhận thực hiện các bước cần thiết hoặc các yêu cầu của Sony hoặc trao quyền sở hữu trí tuệ cho cho Sony. Sony sẽ không chịu trách nhiệm với bạn hoặc bất kỳ bên thứ ba nào về việc bồi thường liên quan đến quyền sở hữu trí tuệ.</li>
                            </ol>

                            <p><b><u>Từ chối bảo đảm</u></b></p>

                            <p>Bạn sử dụng trang web này phải tự chịu rủi ro nếu xảy ra. Trang web này (Bao gồm tất cả nội dung và chức năng sẵn có hoặc phải truy cập qua trang web) được cung cấp “như là” toàn quyền truy cập quy định bởi điều luật. Sony không đại diện hoặc bảo hành cho bất kỳ thứ gì (1) về độ chính xác, khả năng có thể bán được, sự thích hợp cho một mục đích đặt biệt nào đấy hoặc không vi phạm bất kỳ nội dung nào được công bố hoặc sẵn có trên trang web này, (2) Máy chủ của trang web này không chứa đựng virus hoặc các thành phần khác có thể nhiềm, làm hại hoặc gây hỏng máy tính của bạn hoặc các tài sản khác khi bạn truy cập vào trang web qua trình duyệt, download hoặc sử dụng các tiện ích khác trên trang web</p>

                            <p>Sony và các công ty thành viên không chịu trách nhiệm cho bất kỳ mất mát, thiệt hại trong quá trình bạn truy cập đến trang web, hoặc không thể truy cập đến trang web. Sony có thể thay đổi và chỉnh sửa nội dung của trang web hoặc có thể hoãn, dừng cung cấp các dịch vụ qua trang web bất kỳ lúc nào mà không cần thông báo trước. Sony hoặc các công ty thành viên không chịu trách nhiệm cho bất kỳ thiệt hại nào trong quá trình thay đổi, sửa chữa nội dung hoặc do không thể sử dụng trang web này.</p>

                            <p><b><u>Tính sẵn có của các sản phầm và dịch vụ</u></b></p>

                            <p>Các sản phẩm và dịch vụ trên trang web này có thể không sẵn có để mua ở khu vực hoặc địa phương của bạn. Việc tham chiếu đến các sản phẩm hoặc dịch vụ trên trang web này không ngụ ý hoặc sẽ bảo đảm những sản phẩm và dịch vụ này sẵn có bất kỳ lúc nào ở khu vực bạn đang sinh sống. Bạn nên kiểm tra văn phòng đại điện được Sony ủy quyền tại địa phương bạn để biết sự sẵn có của các sản phẩm và dịch vụ cụ thể ở khu vực bạn sinh sống</p>

                            <p><b><u>Các liên kết siêu văn bản trên trang web này</u></b></p>

                            <p>Trang web này chứa các liên kết đến các trang web khác (“Các trang liên kết”). Liên kết của bạn đến các trang khác hoàn toàn có thể gặp rủi ro, nguy hiểm. Các trang liên kết không nằm dưới sự kiểm soát của Sony và Sony không chịu trách nhiệm về nội dung của các trang liên kết này, bao gồm không giới hạn bất kỳ liên kết nào chứa đựng trong một trang liên kết, hoặc bất kỳ thay đổi, hoặc cập nhật đến một trang liên kết. Sony đang cung cấp những liên kết này đến bạn như một cách di chuyển thuận tiện, và bao gồm bất kỳ liên kết nào không được Sony chứng thực trên trang web này, và bất kỳ sự liên kết với các nhà điều hành khác. Bạn phải chịu trách nhiệm cho việc truy cập và tuân thủ các giới hạn và điều khoản, các điều khoản bí mật thông tin và các chú ý pháp lý khác được quy định tại các trang liên kết này. Sony không chấp nhận bảo đảm, các hiển thị hoặc ngụ ý, liên quan đến sự chính xác, thời hạn, tính pháp lý hoặc các tài nguyên khác hoặc các thông tin chứa đựng trên các trang web này</p>

                            <p><b><u>Các tài liệu và phần mềm sẵn có trên trang web của Sony</u></b></p>

                            <p>Sony cung cấp cho bạn các tài liệu liên quan đến hướng dẫn sử dụng của sản phẩm và các tài liệu cung cấp các thông số kỹ thuật kịp thời trên trang web Sony (“Tài liệu”). Bạn có thể sử dụng tài liệu này cho mục dích phi thương mại hoặc mục đích cá nhân hoặc cho mục đích sử dụng sản phẩm và dịch vụ liên quan đến tài liệu này. Tài liệu này được ban hành trên trang Sony có thể có các lỗi do in ấn. Các thông tin thay đổi định kỳ được thêm vào, Sony chỉ duy trì các phiên bản cập nhật mới nhất của các tài liệu này trên trang web của Sony. Khi Sony cung cấp các sản phẩm và dịch vụ có khác so với các thông số kĩ thuật, điều này có thể là do các tài liệu riêng biệt cho từng sản phẩm và dịch vụ có sự khác biệt đôi chút. Bạn có thể yêu cầu xác định về phiên bản tài liệu mà bạn đang sử dụng có đúng hay không bất cứ lúc nào.</p>

                            <p><b>Sony không miêu tả về sự tương thích của các thông tin chứa đựng trong các tài liệu được công bố trên trang Sony vì bất kỳ mục đích nào. Tất cả các tài liệu này được cung cấp “như là” không có sự bảo đảm, Sony từ chối bất kỳ sự bảo đảm và các điều kiện nào liên quan đến tài liệu, bao gồm tất cả các bảo đảm và điều kiện về khả năng có thể bán được, sự rõ ràng, có hàm ý hoặc có tuân theo quy định của luật pháp hay không, sự phù hợp với một mục đích đặc biệt nào đấy, tiêu đề có hoặc không vi phạm vào các điều khoản. Trong các trường hợp này, Sony sẽ không chịu trách nhiệm cho bất kỳ thiệt hại đặc biệt, gián tiếp hoặc có kết quả hoặc bất kỳ các thiệt hại nào gây ra bởi những hư hại trong quá trình sử dụng, mất dữ liệu, mất các lợi ích, ở trong các điều khoản của hợp đồng, sự cẩu thả hoặc các hành vi sai trái khác, gây ra do có hoặc không liên quan đến việc sử dụng thông tin có trong tài liệu này</b></p>

                            <p>Khi cung cấp các thông tin trên trang web của Sony, một số nội dung trên trang web này sẽ sẵn có để bạn tải về (“Nội dung có thể tải về ”). Sony sẽ hỗ trợ bạn không loại trừ, giới hạn, không trao đổi, hoàn toàn có quyền tải về trong mục Nội dung có thể tải về máy tính của bạn, để phục vụ cho các mục dích phi thương mại. Bạn không cần có quyền truy cập, phân phối, chỉnh sửa, thay đổi, tạo ra các công việc dẫn xuất, giải mã, tải dữ liệu mà không cần quan tâm đến sự đồng ý của Sony .</p>

                            <p><b>Sony không miêu tả về sự thích hợp của các nội dung có thể tải về cho bất kỳ mục đích sử dụng nào khác ngoài mục đích mà Sony đã đề cập. Tất cả&nbsp; các nội dung có thể tải về được cung cấp “như là ” không cần có sự đảm bảo của Sony. Sony từ chối tất cả các bảo đảm và các điều kiện về khả năng năng có thể bán được, sự rõ ràng, có hàm ý hoặc có tuân theo quy định của luật pháp hay không, sự phù hợp với một mục đích đặc biệt nào đấy, tiêu đề có hoặc không vi phạm vào các điều khoản. Trong trường hợp này, Sony sẽ không chịu trách nhiệm cho bất kỳ thiệt hại đặc biệt, gián tiếp hoặc gây ra hậu quả hoặc bất kỳ các thiệt hại nào gây ra bởi những hư hại trong quá trình sử dụng, mất dữ liệu, mất các lợi ích, ở trong các điều khoản của hợp đồng, sự cẩu thả hoặc các hành vi sai trái khác, gây ra do có hoặc không liên quan đến việc sử dụng nội dung có thể tải về.</b></p>

                            <p><b><u>Tài nguyên truyền dẫn</u></b></p>

                            <p>Sony không đảm bảo rằng bất kỳ e-mail nào gửi từ trang web sẽ được bạn nhận hoặc được Sony nhận. Nếu bạn gửi hoặc Sony gửi. Sony không đảm bảo về an toàn bí mật thông tin của e-mails trong quá trình truyền nhận dữ liệu trên internet</p>

                            <p><b><u>Chi tiết người dùng</u></b></p>

                            <p>Nếu Sony cung cấp cho bạn thông tin người dùng chi tiết để giúp bạn dễ dàng truy cập vào trang web (“Chi tiết người dùng”), hoặc một phần đặc biệt trên trang này, bạn không nên tiết lộ những chi tiêt người dùng của bạn với những người khác. Đó là trách nhiệm của bạn để đảm bảo rằng các chi tiết người dùng của bạn không được để lộ cho người khác . Bạn có trách nhiệm với các hành vi xảy ra do việc sử dụng các chi tiết người dùng, bao gồm tất cả các thông tin, giới hạn, tất cả các hành vi cho phép hoặc trái phép, theo đúng luật hoặc phạm luật, Điều này sẽ giúp bạn tối ưu các chi tiết người dùng của bạn. Sony có quyền thực hiện các hướng dẫn theo như các chi tiết của người dùng. Sony không thể và không có trách nhiệm phải thay đổi các chi tiết người dùng của bạn mà là do một người khác sử dụng các chi tiết&nbsp; người dùng của bạn, hoặc các hư hại hoặc mất mát gây ra do sai sót của bạn để bảo vệ các chi tiêt người dùng của bạn. Với mục đích bảo mật, bạn nên nhớ các chi tiết (không nên viết ra) người dùng của bản thân mình.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
