@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Quên mật khẩu</title>
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/app.v1.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/customer.style.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/screen.css" type="text/css" />
</head>
<body>
    <div id="ajax_loader" style="background-color: rgba(0, 0, 0, 0.5); z-index: 9999; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; display: none;" class="">
        <img src="/static/images/loading.gif" style="position: fixed; left: 50%; top: 50%;" class="">
    </div>
    <section class="vbox site-wrapper page-user dark-green">
        <section>
            <section class="hbox stretch">
                <section id="content">
                    <header class="header header-md navbar bg site-header-top">
                        <div class="navbar-header aside-md dk site-logo">
                            <a class="btn btn-link visible-xs site-m-menu-toggle" data-toggle="class:nav-off-screen" data-target="#nav"> <i class="fa fa-bars"></i> </a>
                            <a href="/" class="navbar-brand"> <img src="" class="m-r-sm" alt="Ảnh logo" height="17" width="100" /> </a>
                        </div>
                        <div class="page-header-logo">
                            <div class="customer-logo">
                                <img src="" alt="...">
                            </div>
                            <div class="navbar-header site-logan">
                               
                            </div>
                        </div>
                    </header>
                    <section class="vbox page-user-content-box">
                        <div class="page-header padder page-contrains">
                            <ul>
                                <li>
                                    <span class="thumb-u-avatar pull-left">
                                        <img src="/static/images/figures/avatar_profile.png" alt="...">
                                    </span>
                                    <a href="#" class="active">Quên mật khẩu <i class="fa fa-caret-up"></i></a>
                                </li>
                            </ul>
                        </div>
                        <section class="scrollable">
                            <div class="page page-main-content">
                                <div class="page-content padder page-contrains">
                                    <div class="page-form-wrapper">
                                        <form role="form" id="frmForgetPass" class="form form-persional-infos" data-parsley-validate="parsley" onsubmit="return(false)" autocomplete="off">
                                            @Html.AntiForgeryToken()
                                            <section class="row">
                                                <div class="col-xs-12 col-sm-6 col-md-6 r-l">
                                                    <div class="form-group form-group-email">
                                                        <label>Nhập email<span class="form-require">*</span></label>
                                                        <input id="email" name="email" type="email" class="form-control" data-parsley-required="true">
                                                    </div>
                                                </div>
                                            </section>
                                            <div class="g-recaptcha" style="margin: 20px -15px 0; float: right;" data-sitekey='@System.Configuration.ConfigurationManager.AppSettings["recaptcha_sitekey"]'></div>
                                            <div class="form-actions text-right" style="margin: 0 -15px;clear: both;">
                                                <button id="btnRegisterMyProduct" class="btn btn-s-md btn-dark button">
                                                    Tiếp tục
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="page-footer padder">
                                    <div class="row m-t">
                                        <div class="col-md-6">
                                            <div class="block block-landing-footer-menu">
                                                <div class="block-content">
                                                    <ul class="menu">
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6"> 
                                            <div class="block block-landing-footer-copyright">
                                                <div class="block-content">
                                                    @DateTime.Now.Year ©  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End content-->
                        </section>
                    </section>
                    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
                </section>
            </section>
        </section>
    </section>
    <!-- my modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog login">
            <div class="modal-content clearfix">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="font-thin h1">&times;</span><span class="sr-only font-thin">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Thông báo</h4>
                </div>
                <div class="modal-body">
                    <div style="line-height:20px" id="msg">msg</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    <!-- App -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="/Scripts/jquery-ui-1.10.4.min.js"></script>
    <!-- Validator-->
    <script>
        window.ParsleyConfig = {
            errorsWrapper: '<div></div>',
            errorTemplate: '<span style="color:red"></span>'
        };
    </script>
    <script src="/static/js/validator/parsley.vi.js"></script>
    <script src="/static/js/validator/parsley.min.js"></script>
    <script src="/static/js/validator/parsley.extend.js"></script>
    <script type="text/javascript">
        window.ParsleyValidator.setLocale('vi');
    </script>
    <script src="/static/js/app.v1.js"></script>
    <script src="/static/js/app.plugin.js"></script>
    <script src="/static/js/jquery.uniform.js"></script>
    <script src="/static/js/application.js"></script>
    <script src="/static/js/jquery.fancybox.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src='//www.google.com/recaptcha/api.js?hl=vi'></script>

    <script>
        function ShowPopup(a, callback) {

            callback = callback || function () { };
            $('#ajax_loader').hide();
            $('.modal').modal('hide');
            $('#myModal').find('#msg').html(a);
            $('#myModal').modal('show');
            $('#myModal').on('hide.bs.modal', function (e) {
                callback();
            });
        }
        $('#frmForgetPass').parsley().subscribe('parsley:form:validate', function (formInstance) {
            if (formInstance.isValid()) {
                $.post('/LoginCP/ForgetPassAdmin/',
              {
                  email: $('#email').val(),
                  recaptcha: $('#g-recaptcha-response').val()
              },
              function (res) {
                  if (res.result == "OK") {
                      ShowPopup(res.msg, function () {
                          location.href = '/LoginCP/Index/';
                      });
                  } else {
                      ShowPopup(res.result + ':' + res.msg);
                  }
              });
            }
        });
    </script>
</body>
</html>