@model MySony.ViewModels.XemTintucVM

<section class="vbox bg-light lter">
    <section class="scrollable">
        <div class="page page-main-wrapper page-news-details red">
            <div class="col-xs-12 col-sm-12 col-md-8 left-col">
                <div class="node-view">
                    <div class="clearfix page-news-details-tile">
                        <span class="post-date">@Model.article.PublishDate</span>
                        <h1 class="page-title">@Model.article.Title</h1>
                    </div>
                    <div class="node-content">
                        <div class="node-description">
                            @Html.Raw(Model.article.ArticleContent)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 right-col">
                <div class="block block-related-post">
                    <div class="block-title">
                        <h2>Các tin khác</h2>
                    </div>
                    <div class="block-content">
                        <ul>
                            @foreach (var item in Model.lstSimilar)
                            {
                                <li>
                                    <a href="/Tintuc/Xem/@item.ID/@item.Slug">@item.Title</a>
                                </li>
                            }
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
@section scripts{
    <script>       
     $(function () {         
         $("#tintucmenu a").addClass("active");
     });
          
    </script>
}