
@model MySony.ViewModels.RegisterVM
@{
    Layout = null;
}
<div id="addproduct_@ViewBag.idxProduct">
    <div class="form-markup form-title add-product-link">
        <a id="removeSP_@ViewBag.idxProduct" class="remove-product-link">- Bỏ sản phẩm</a>
    </div>
    <div class="RegisProduct">
        <section class="row border-top">
            <div class="col-xs-12 col-sm-6 col-md-6 r-l">
                <div class="form-group form-group-product-type">
                    <label>Chủng loại sản phẩm <span class="form-require">*</span></label>
                    <select data-parsley-required="true" class="form-control category" id='CMB_category_@ViewBag.idxProduct'>
                        @foreach (var item in Model.cartelogies)
                        {
                            <option value="@item.category_id">@item.name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="form-group form-group-product-name">
                    <div class="user-guide">
                        <label>Tên sản phẩm <span class="form-require">*</span></label>
                        <a href="#user-guide-product-name" onclick="changeImgHref()">Xem ở đâu?</a>
                    </div>
                    <select id='product_@ViewBag.idxProduct' data-parsley-required="true" class="slProductID form-control chosen-select" required>
                        <option value="">Tên sản phẩm</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 r-r">
                <div class="form-group form-group-product-serial">
                    <div class="user-guide">
                        <label>Số serial <span class="form-require">*</span></label>
                        <a href="#user-guide-product-serial" onclick="changeImgHref()">Xem ở đâu?</a>
                    </div>
                    <input id='productserial_@ViewBag.idxProduct' type="text" class="form-control txtProductSerial" data-parsley-required="true" required>
                </div>
            </div>
        </section>

        <section class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 r-l">
                <div class="form-group form-group-product-place">
                    <label>Nơi mua hàng <span class="form-require">*</span></label>
                    <select id='city_@ViewBag.idxProduct' data-parsley-required="true" class="form-control slCity">
                        @foreach (var item in Model.cities)
                        {
                            <option value="@item.city_id">@item.name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 r-l">
                <div class="form-group form-group-product-store">
                    <label>Tên cửa hàng <span class="form-require">*</span></label>
                    <select id='shop_@ViewBag.idxProduct' data-parsley-required="true" class="form-control slShop" required>
                        <option value="">Cửa hàng</option>
                    </select>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 r-l">
                <div class="form-group form-group-product-date">
                    <label>Ngày mua hàng <span class="form-require">*</span></label>
                    <input id='timePurchase_@ViewBag.idxProduct' class="form-control timePurchase" placeholder="dd/MM/yyyy" size="16" type="text">
                </div>
            </div>
        </section>
    </div>
</div>