@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class=" ">
<head>
    <meta charset="utf-8" />
    <title>Landing page</title>
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="/static/css/app.v1.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/sony.style.css" type="text/css" />
    <link href="~/static/css/jquery.fancybox.css" rel="stylesheet" />
    <!--[if lt IE 9]> <script src="/static/js/ie/html5shiv.js"></script> <script
    src="/static/js/ie/respond.min.js"></script> <script
    src="/static/js/ie/excanvas.js"></script> <![endif]-->
</head>
<body>
    <section class="vbox site-wrapper landing-page">
        <section>
            <section class="hbox stretch">
                <!-- .aside -->
                <aside class="bg-dark aside-lg hidden-print box-shadow sidebar-first" id="nav">
                    <section class="vbox">
                        <section class="w-f scrollable">
                            <div class=" " data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railopacity="0.2">
                                <nav class="nav-primary hidden-xs sidebar-user-nav">
                                    <ul class="nav nav-main" data-ride="collapse">
                                        <li class="customer-logo desktop hidden-xs">
                                            <img src="/static/images/figures/cus-logo-desk.png" alt="..." height="110" width="130" />
                                        </li>
                                        <li class="customer-logo hidden-md hidden-lg">
                                            <img src="/static/images/figures/cus-logo.png" alt="..." height="100" width="100">
                                        </li>
                                        <li>
                                            <div class="clearfix wrapper dk nav-user hidden-md hidden-lg user-menus">
                                                <div class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        <span class="thumb-u-avatar pull-left">
                                                            <img src="/static/images/figures/avatar.png" alt="...">
                                                        </span>
                                                        Nguyễn Phú Hải
                                                        <b class="caret"></b>
                                                    </a>
                                                    <ul class="dropdown-menu animated fadeInRight">
                                                        <li>
                                                            <span class="arrow top hidden-nav-xs"></span><a href="#">Settings</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Profile</a>
                                                        </li>
                                                        <li>
                                                            <a href="#"> <span class="badge bg-danger pull-right">3</span> Notifications </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Help</a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="ajaxModal">Logout</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                                <!--End Sidebar user menu-->
                                <!-- nav -->
                                <nav class="nav-primary hidden-xs site-system-menu">
                                    <ul class="nav nav-main" data-ride="collapse">
                                        <li class="">
                                            <a href="#" class="bg-green active"> <i class="icon"> </i> <span>Home</span> </a>
                                        </li>
                                        <li class="">
                                            <a href="/Benefit/" class="bg-dark-green"> <i class="icon"> </i> <span>Quyền lợi của thành viên</span> </a>
                                        </li>
                                        <li class="">
                                            <a href="#" class="bg-blue"> <i class="icon"> </i> <span>Gói bảo hành mở rộng</span> </a>
                                        </li>
                                        <li class="">
                                            <a href="#" class="bg-red"> <i class="icon"> </i> <span>Chương trình khuyến mãi</span> </a>
                                        </li>
                                        <li class="">
                                            <a href="#" class="bg-orange"> <i class="icon"> </i> <span>Cuộc thi & giải trí</span> </a>
                                        </li>
                                        <li class="">
                                            <a href="#" class="bg-yellow"> <i class="icon"> </i> <span>Khoá huấn luyện miễn phí</span> </a>
                                        </li>
                                        <li class="">
                                            <a href="#" class="bg-lilac"> <i class="icon"> </i> <span>Hỏi & đáp</span> </a>
                                        </li>
                                    </ul>
                                </nav>
                                <!--End site nav-->
                                <ul class="nav-primary hidden-xs sidebar-footer-nav">
                                    <li>
                                        <a href="#">Điều khoản sử dụng</a>
                                    </li>
                                    <li>
                                        <a href="#">Quyền riêng tư</a>
                                    </li>
                                    <li>
                                        <a href="#">Liên hệ</a>
                                    </li>
                                    <li>
                                        <a href="#">Global home</a>
                                    </li>
                                    <li>
                                        @DateTime.Now.Year © Bản quyền thuộc sở hữu <br /> Công ty Sony Electronics Việt Nam
                                    </li>
                                </ul>
                                <!--End site links-->
                            </div>
                        </section>
                    </section>
                </aside>
                <!-- /.aside -->
                <section id="content">
                    <header class="header header-md navbar site-header-top">
                        <div class="navbar-header aside-md dk site-logo">
                            <a class="btn btn-link visible-xs site-m-menu-toggle" data-toggle="class:nav-off-screen" data-target="#nav"> <i class="fa fa-bars"></i> </a>
                            <a href="#" class="navbar-brand"> <img src="/static/images/logo.png" class="m-r-sm" alt="scale" height="17" width="100" /> </a>
                            <a id="search-form-button" class="btn btn-link visible-xs mobile-search-form" href="#mobile-search-form"> <i class="fa fa-search"></i> </a>
                        </div>
                        <div id="mobile-search-form" class="pull-right site-search">
                            <form class="navbar-form navbar-left input-s-lg m-t m-l-n-xs" role="search">
                                <div class="form-group">

                                </div>
                            </form>
                        </div>
                    </header>

                    <section class="vbox bg-white">
                        <section class="scrollable">
                            <div class="page page-landing-page">
                                <div class="page-header padder page-contrains">
                                    @RenderBody()
                                </div>
                            </div>
                            <!--End content-->
                        </section>
                    </section>
                    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
                </section>
            </section>
        </section>
    </section>

    <!-- my modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog login">
            <div class="modal-content clearfix">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="font-thin h1">&times;</span><span class="sr-only font-thin">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Thông báo</h4>
                </div>
                <div class="modal-body">
                    <div style="line-height:20px" id="msg">msg</div>
                </div>
            </div>
        </div>
    </div>
    @Html.AntiForgeryToken()
    <!-- Bootstrap -->
    <!-- App -->
    <script src="/static/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="~/static/js/jquery.fancybox.js"></script>
    <script src="/static/js/app.v1.js"></script>
    <script src="/static/js/app.plugin.js"></script>
    <script src="/static/js/application.js"></script>
    <script src="/static/js/common.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="/Scripts/jquery-ui-1.10.4.min.js"></script>
    <!-- Validator-->
    <script>
        window.ParsleyConfig = {
            errorsWrapper: '<div></div>',
            errorTemplate: '<span style="color:red"></span>'
        };
    </script>
    <script src="/static/js/validator/parsley.vi.js"></script>
    <script src="/static/js/validator/parsley.min.js"></script>
    <script type="text/javascript">
        window.ParsleyValidator.setLocale('vi');
    </script>
    <script>
        function ShowPopup(a, callback) {
            callback = callback || function () { };
            $('.modal').modal('hide');
            $('#myModal').find('#msg').html(a);
            $('#myModal').modal('show');
            $('#myModal').on('hide.bs.modal', function (e) {
                callback();
            });
        }
    </script>
    <script>
        $('#btnRegister').click(function () {
            location.href = '/Register/';
        });

        $('#frmLogin').parsley().subscribe('parsley:form:validate', function (formInstance) {
            if (formInstance.isValid()) {
                $.post('/Landing/Login/', { 'email': $('#txtEmail').val(), 'pass': $('#txtPass').val() }, function (a) {
                    if (a.result == 'ERROR') {
                        ShowPopup(a.msg);
                    } else {
                        location.reload();
                    }

                });
            }
        });

        $('#benefit').click(function () {
            location.href = '/Benefit/';
        });
        $('#news').click(function () {
            location.href = '/Tintuc/';
        });

        $('#faq').click(function () {
            location.href = '/FAQ/';
        });

        $('#check').click(function () {
            var url = "https://mysony.sony.com.vn/checkwarranty/home/checkwarranty";
            $.fancybox({ href: url, type: 'iframe', width: 470, height: 360, autoSize: true });
        });
    </script>
</body>
</html>