@using MyProject.Functions
@{
    ViewBag.Title = "Nguồn đăng ký";
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        @Html.AntiForgeryToken()
        @(Html.Kendo().Grid<MyProject.Models.customertype>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.customertype_id).Title("ID").Filterable(false).Width(40);
            columns.Bound(p => p.name).Title("Nguồn đăng ký");
            columns.ForeignKey(p => p.status_id, (System.Collections.IEnumerable)ViewData["status"], "status_id", "name").EditorTemplateName("StatusEditor").Title("Trạng thái").Filterable(false).Width(80);
            columns.Command(command => { command.Edit().Text(" ").UpdateText(" ").CancelText(" "); }).Width(110).Title("Cập nhật");
        })
        .ToolBar(toolbar => toolbar.Create().Text("Thêm mới"))
        .Editable(editable => editable.Mode(GridEditMode.InLine))
        .Sortable()
        .Resizable(resize => resize.Columns(true))
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .Filterable(filterable => filterable
            .Extra(false)
            .Operators(operators => operators
                .ForString(str => str.Clear().Contains("Contains"))
            )
        )
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .ServerOperation(false)
            .Events(events => { events.Error("error_handler");  })//events.RequestEnd("onRequestEnd"); })
            .Model(model =>
            {
                model.Id(p => p.customertype_id);
                model.Field(p => p.customertype_id).Editable(false);
                model.Field(p => p.status_id).DefaultValue(0);
            })
            .Read(read => read.Action("CustomerType_Read", "HeThong"))
            .Create(update => update.Action("CustomerType_Create", "HeThong"))
            .Update(update => update.Action("CustomerType_Update", "HeThong"))
            //.Destroy(update => update.Action("CustomerType_Destroy", "HeThong"))
            )
        )
    </div>
</div>
@section scripts{
    <script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            console.info(message);
        }
    }
    //function onRequestEnd(e) {
    //    if (e.type == "create" && !e.response.Errors) alert("Tạo mới thành công");
    //    else if (e.type == "update" && !e.response.Errors) alert("Cập nhật thông tin thành công");
    //    else if (e.type == "destroy" && !e.response.Errors) alert("Xóa thông tin thành công");
    //}
    </script>
}