@using System.Globalization
@model MySony.Models.RS_mail_template
@{
    ViewBag.Title = "Quản lý mail";
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
    int idmail = 0;
    string title = "";
    int cityId = -1;
    string statusId = "";
    string subject = "";
    string content = "";
    if (Model != null)
    {
        idmail = Model.ID;
       // title = Model.Title;
        if (Model.CityID != null)
        {
            cityId = (int)Model.CityID;
        }        
        subject = Model.Subject;
        content = Model.Content;
    }
}  

<div class="container-fluid">
    <form role="form" id="frmRegiterMail" class="form form-persional-infos" data-parsley-validate="parsley" onsubmit="return(false)">
        @Html.AntiForgeryToken()    
         
                 
        <table class="table table-condensed">
            <tr style="display: none">
                <td class="col1"><label>Tiêu đề mail</label></td>
                <td class="col2">
                    <input id="TitleId" data-parsley-notblank="true" value='@title' />
                    <input type="hidden"  id="MailId"   value='@idmail' />
                </td>
            </tr>
            <tr>
                <td class="col1"><label>Tiêu đề mail</label></td>
                <td class="col2">
                    <input id="SubjectName" value='@subject' data-parsley-notblank="true" data-parsley-required="true" style="width:100%"/>
                </td>
            </tr>
            <tr>
                <td class="col1"><label>Thành phố áp dụng</label></td>
                <td>
                    <select id="slCity" class="form-control chosen-select"></select>
                    <input  id="cityID" type="hidden" value='@cityId' name="Hidden1" />
                </td>
            </tr>
            <tr style="display: none">
                <td class="col1"><label>Ngày Tạo</label></td>
                <td class="col2">@Html.TextBoxFor(m => m.Created)</td>                
            </tr>
            <tr>
                <td class="col1"><label>Nôi dụng mail</label></td>
                <td class="col2">
                    @*<textarea rows="10" cols="90" id="Content"  data-parsley-notblank="true" data-parsley-required="true">
                        @content
                    </textarea>*@
                    @(Html.Kendo().EditorFor(m => m.Content)
                        .Name("Content")
                        .Encode(false)
                        .HtmlAttributes(new { style = "height:480px" })
                        .Tools(tools => tools.InsertImage().ViewHtml().FontName().FontSize().FontColor().BackColor())
                        .ImageBrowser(imageBrowser => imageBrowser
                        .Image("~/Galleries/{0}")
                        .Read("Read", "ImageBrowser")
                        .Create("Create", "ImageBrowser")
                        .Destroy("Destroy", "ImageBrowser")
                        .Upload("Upload", "ImageBrowser")
                        .Thumbnail("Thumbnail", "ImageBrowser")
                        )
                                    )
                </td>
            </tr>
        </table>
        <div class="btn-group pull-right">
            <input type="submit" class="btn btn-primary" id="btnSave" value="Lưu" />
            <button type="button" class="btn btn-warning" id="btnCancel">Hủy</button>
            <button type="button" class="btn btn-danger" id="btnDelete">Xóa</button>
        </div> 
    </form>
</div>
@section scripts{     
    <script src="/static/js/chosen/chosen.jquery.min.js"></script>
   <script src="~/static/js/validator/parsley.min.js"></script> 
    <script>
        window.ParsleyConfig = {
            errorsWrapper: '<div></div>',
            errorTemplate: '<span style="color:red"></span>'
        };
    </script>
    <script src="/static/js/validator/parsley.vi.js"></script>
    <script type="text/javascript">
        window.ParsleyValidator.setLocale('vi');
    </script>

    <script>   
        $.get('/HeThong/GetListCity', function (res) {
            $('#slCity').append('<option value="-1">Tất cả</option>');
            $.each(res, function (index, value) {
                $('#slCity').append('<option value="' + value.city_id + '">' + value.name + '</option>');
            });          
            if ($("#cityID").val() !='') {
                $("#slCity").val($("#cityID").val()) ;
            }
            jQuery('.chosen-select').trigger('chosen:updated');
           
        });

        $('#frmRegiterMail').parsley().subscribe('parsley:form:validate', function (formInstance) {            
            if (formInstance.isValid()) {
                $.post('/HeThong/RegisterMailTem/',
                {
                  mailId: $('#MailId').val(),
                  title: $('#TitleId').val(),
                  subjectName: $('#SubjectName').val(),
                  cityId: $('#slCity').val(),
                  content: $('#Content').val(),
                                   
              },
              function (res) {                                      
              });
            }
        });


        $(function () {
            $('#btnCancel').click(function () {
                window.location.href = '/HeThong/MailTemplate';
            });
            $('#btnDelete').click(function () {
                if (confirm('Bạn có chắc không?')) {
                    if ($('#MailId').val() == 0) window.location.href = '/HeThong/MailTemplate';
                    $.post('/HeThong/RegisterMailTem_Delete ', {
                        mailId: $('#MailId').val()
                    }, function () {

                        window.location.href = '/HeThong/MailTemplate';
                    });
                }
            });
        });

        jQuery(document).ready(function () {
            jQuery(".chosen-select").chosen();
        });
    </script>
}